body {
    background: linear-gradient(45deg, rgb(77, 77, 77), rgb(56, 56, 56));
    color: rgb(68, 68, 68);
}

header {
    position: static;
}

#page-logo a {
    color: rgb(183, 230, 235);
}

header a {
    color: rgb(183, 230, 235);
}

header nav a:hover {
    background-color: rgb(183, 230, 235);
    color: rgb(59, 59, 59);
}

main ul {
    width: 1200px;
    margin: 0 auto 48px auto;
    display: grid;
    grid-template-columns: 600px 600px;
    gap: 25px 25px;
}

main ul li:nth-child(3) {
    grid-column: 1 / 3;
}

main li {
    display: flex;
    background-color: #fff;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.item-contents {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-contents h2 {
    margin: 0;
}

main li img {
    width: 300px;
    height: 280px;
    object-fit: cover;
}

.actions {
    text-align: right;
}

.actions a {
    padding: 8px;
    border-radius: 8px;
    text-decoration: none;
    color: rgb(48, 92, 187);
    padding: 6px;
}

.actions a:hover {
    background-color: rgb(223, 223, 223);
}