body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    height: 2000px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
}

header ul li {
    margin-left: 20px;
}

#page-logo a {
    padding: 10px;
    font-family: 'Oleo Script', sans-serif;
    color: rgb(245, 243, 170);
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
}